{% extends "base.html" %}


{% block head %}


<script>
    // load page /qrLoaded on page load
    window.onload = function () {
        window.location.href = "{{ url_for(onLoad_Goto_route) }}";
    }
</script>

get_ready_for_show

{% endblock %}
{% block body %}

<div class="background get_ready_for_show"></div> 

<div class="button get_ready_for_canceled_button"> CANCEL   </div> 
<a href="{{ url_for('touch.info_wanna_change') }}" class="button get_ready_for_canceled_button">CANCEL</a>
 
{% endblock %}
