{% extends "base.html" %}


{% block head %}


<script>
    // load page /qrLoaded on page load
    window.onload = function () {
        window.location.href = "{{ url_for(onLoad_Goto_route) }}";
    }
</script>

get_ready_for_show

{% endblock %}
{% block body %}

<div class="background get_ready_for_show"></div> 

<img class="elixir_logo" src="../static/images/Elixyr_Logo_weiss.png" >



<a href="{{ url_for('touch.wanna_change') }}" class="button get_ready_for_canceled_button"></a>
 
{% endblock %}
