{% extends "base.html" %}


{% block head %}

<script>
    // load page /qrLoaded on page load
    window.onload = function () {
        window.location.href = "{{ url_for(onLoad_Goto_route) }}";
    
     // Count DOWN ANIMATION
        var timeleft = 20;
        var downloadTimer = setInterval(function () {
            document.getElementById("countdown").innerHTML = timeleft + " seconds starts you show";
            timeleft -= 1;
            if (timeleft < 0) {
                clearInterval(downloadTimer);
                document.getElementById("countdown").innerHTML = "Finished"
            }
        }, 1000);
    }
</script>

{% endblock %}
{% block body %}

	<div class="container">
     <p><h1 id="countdown"></h1></p>
	 <img src="{{ url_for('static', filename='images/image_6.jpeg') }}">
   
	</div>
 
{% endblock %}
