{% extends "base_fon.html" %}

{% block head %}
{% endblock %}


{% block body %}
<div class="container-fon">
  <div class="form-group">

    <div class="fon_logo">
      <img style="width: 73px;" src="{{ url_for('static', filename='images/Elixyr_Logo_weiss.png') }}" alt="FON Logo">
    </div>

    <div class="title-fon-index">
      <h1>THANK YOU FOR BEING</h1><br>
      <div><h1>FOR BEING PART OF THE </h1> <img style="width: 73px;" src="{{ url_for('static', filename='images/Elixyr_Logo_weiss.png') }}" alt="FON Logo">
      </div><br>
      <h1>WORLD</h1><br>
    </div>

    <div class="title-fon-index-2">
      <h1>HAVE YOU ALREADY</h1><br>
      <h1>TRIED THE OTHER</h1> <br>
      <h1>BUTTON?</h1><br>
    </div>

    <div class="btn_try_again">
      <h1>WE WILL DELETE YOUR VIDEO</h1><br>
      <h1>FROM OUR SERVER IN ONE HOUR</h1> <br>
    </div>

  
  </div>
</div>
{% endblock %}