{% extends "base_fon.html" %}

{% block head %}
{% endblock %}


{% block body %}
<div class="container">

  <img src="{{ url_for('static', filename='images/Elixyr_Logo_weiss.png') }}" alt="Logo" class="logo">

  <div class="content">

    <div class="title-fon-index-sucess">
      <h1>THANK YOU FOR BEING</h1>
      <h1>PART OF THE
          <span class="logo-inline-text"> 
            <img style="width: 100px;"
              src="{{ url_for('static', filename='images/Elixyr_Logo_weiss.png') }}" alt="FON Logo">
          </span>
       </h1>
      <h1>WORLD</h1>
    </div>

    <div class="title-fon-index-2-sucess">
      <h1>HAVE YOU ALREADY</h1>
      <h1>TRIED THE OTHER</h1>
      <h1>BUTTON?</h1>
    </div>

    <div class="title-fon-index-3-sucess">
      <p>WE WILL DELETE YOUR VIDEO</p>
      <p>FROM OUR SERVER IN ONE HOUR</p>
    
    </div>



  </div>
</div>
{% endblock %}