{% extends "base.html" %}

{% block head %}
<style>
    #session_id {
        font-size: 44px;
        text-align: center;
    }

    .container-fon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }


</style>
{% endblock %}


{% block body %}
<div class="container-fon">
  <form class="form-group" action="/" method="POST">
      <p>Code</p>
      <!-- <input type="text" id="session_id" name="session_id" pattern="\d{6}" maxlength="6" title="Please enter five digits only" required> -->
      <input type="text" id="session_id" name="session_id"  title="Please enter five digits only" required>
      <input type="submit" value="Submit">
    
  </form>
</div>
{% endblock %}
