
{% extends "base_fon.html" %}

{% block head %}
{% endblock %}


{% block body %}

<div class="container">
  <div class="content">
    <img src="{{ url_for('static', filename='images/Elixyr_Logo_weiss.png') }}" alt="Logo" class="logo">

    <div class="title-fon-index">
        <h1>SORRY, BUT YOU HAVE</h1><br>
        <h1>ALREADY DOWNLOADED </h1><br>
        <h1>YOUR VIDEO</h1><br>
    </div>

    <a href="{{ url_for('index') }}"> <button class="btn_try_again">TRY AGAIN</button></a>

  </div>
</div>
{% endblock %}