
{% extends "base.html" %}

{% block head %}
<!--
<script>
    // load page /qrLoaded on page load
    window.onload = function () {
        window.location.href = "fonDownloadVideo";
    }
</script>
-->
{% endblock %}

{% block body %}
<div class="container">
    <h1>Fon Welcome</h1>
    <p>“Bitte geöffnet lassen, nachher gibts hier das video als Download”</p>
    <p>“Nachdem die Videoaufzeichnung beendet worden ist”</p>

    <p>Aktuelle  new session id is: <strong>{{ request.cookies.get('id') }}</strong></p>
    <p>Smarth-Phone</p>
</div>
{% endblock %}