{% extends "base.html" %}

{% block head %}
<script>
    // load page /qrLoaded on page load
    window.onload = function () {
        window.location.href = "touchQrLoaded";
    }
</script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>QR-CODE</h1>
    <p>Scanne diesen Qr Code auf deinen Handy and connect to Wifi</p>
    <img src="static/images/qrCode.png" alt="QR-Code" width="200" height="200">

    <p><a href="fonWelcome" target="_blank">
            <button>Open in new tab - Simulates Smartphone</button>
        </a>
    </p>
    <p>Previuos session id is: <strong>{{ request.cookies.get('id') }}</strong></p>
    <p>Touchscreen</p>
</div>
{% endblock %}