
@font-face {
	font-family: 'UniviaProBook-Italic';
	src: url('UniviaProBook-Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
  }
  @font-face {
	font-family: 'UniviaProRegular';
	src: url('UniviaProRegular.otf') format('opentype');
	font-style: normal;

  }
  @font-face {
	font-family: 'UniviaProBook';
	src: url('UniviaProBook.otf') format('opentype');
	font-style: normal;
	
  }

 

  @font-face {
	font-family: 'UniviaProUltra-Italic';
	src: url('UniviaProUltra-Italic.otf') format('opentype');
	font-style: normal;
  }
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: black;
}

.container {
	display: flex;
	width: 364px;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: black;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	position: relative;
}

.content {
	height: calc(100vh - 40px);
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	position: absolute;
	top: 10px;
	left: 10px;
	max-height: 50px;
	width: auto;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}




  

.container-fon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	
}


.title-fon-index{
	font-family: 'UniviaProBook';
	font-size: 13px;
	color: white;
	line-height: 0px;
}


.title-fon-index-2{
	font-family: 'UniviaProUltra-Italic';
	font-size:27px;
	color: white;
	line-height: 5px;
}

.title-fon-index-3{

	color: white;
	font-size: 17px;
	font-family: 'UniviaProBook';
	line-height: 5px;
}

.title-fon-index-3{

	color: white;
	font-size: 17px;
	font-family: 'UniviaProBook';
	line-height: 5px;
}



.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'UniviaProBook';
  color: white;
  font-size: 16px;
}

.form-group input[type="text"] {
	border: 2px solid white;
	border-radius: 12px;
	background-color: rgb(140, 140, 140);
	color: white;
	padding: 5px 5px 5px 10px;
	font-size: 27px;
	cursor: pointer;
	width: 69%;
	font-family: 'UniviaProBook';
  }

  .form-group input[type="text"]::placeholder {
    

  }




  .form-group input[type="submit"], .btn_try_again {
	border: 2px solid white;
	border-radius: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
	padding: 4px 20px 3px 20px;
	cursor: pointer;
	font-size: 15px;
	font-family: 'UniviaProBook';
  } 


 */

 
