
body {
	margin: 0;
	padding: 0;
	background-color: hsl(0, 0%, 0%);
	font-family: 'UniviaProUltra-Italic';
	font-weight: bold;
	width: 800px;
	height: 1280px;
}

.elixir_logo{
	position: fixed;
	top: 36px;
	left: 43px;
	width: 18%;
	height: 46px;
	padding: 24px;
	background-color: #000;

	
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}








.button {
	position: fixed;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.wanna_change {
	background-image: url('../images/wanna_change.png');
}

.wanna_change_button {
	top: 60%;
	left: 35%;
	width: 30%;
	height: 20%;
}

.info_wanna_change {
	background-image: url('../images/info_wanna_change.png');
}

.info_wanna_change_button {
	top: 76%;
	left: 48%;
	width: 40%;
	height: 10%;
}

.strong_or_soft
{
	background-image: url('../images/strong_or_soft.png');
}

.strong_or_soft_red_button {
	top: 76%;
	left: 52%;
	width: 35%;
	height: 10%;
}

.strong_or_soft_blue_button {
	top: 76%;
	left: 13%;
	width: 35%;
	height: 10%;
}

.DSGVO
{
	background-image: url('../images/DSGVO.png');
}

.DSGVO_button {
	top: 76%;
	left: 48%;
	width: 40%;
	height: 10%;
}



.get_qr_and_wifi {
	background-image: url('../images/get_qr_and_wifi.png');
}

.get_qr_and_wifi_button {
	top: 81%;
	left: 48%;
	width: 40%;
	height: 10%;
}
.qr_code{
	position: fixed;
top: 35%;
left: 40%;
width: auto;
height: 10%;
z-index: 100;
}









.get_code_for_video
{
	background-image: url('../images/get_code_for_video.png');
}

.get_code_for_video_button {
	top: 80%;
	left: 48%;
	width: 40%;
	height: 10%;
}

.code_for_video_field {
	top: 45%;
	left: 25%;
	width: 40%;
	height: 15%;
	background-color: black;
	font-size: 800%;
	font-weight: lighter;
}

.wait_for_door
{
	background-image: url('../images/wait_for_door.png');
}

.wait_for_door_field {
	top: 60%;
	left: 30%;
	width: 40%;
	height: 28%;
	background-color: black;
	font-size: 400%;
	font-weight: lighter;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.get_ready_for_show
{
	background-image: url('../images/get_ready_for_show.png');
}

.get_ready_for_show_button {
	top: 80%;
	left: 48%;
	width: 40%;
	height: 10%;
}


.get_ready_for_canceled_button{

	border: 5px solid black;
	background-color: rgb(0, 0, 0);
	color: black;
	padding: ;
	cursor: pointer;
	font-size: 40px;
	font-family: 'UniviaProRegular';
	text-align: center;
	top: 82%;
	left: 54%;
	width: 27%;
	height: 8%;
	padding: 10px;
	  padding-left: 10px;
	padding-left: 10px;
	padding-left: 41px;
	font-size: revert;
	font-weight: 700;
	}



a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }






/* ##########################CSS FONTS######################	*/


	@font-face {
		font-family: 'UniviaProBook-Italic';
		src: url('UniviaProBook-Italic.otf') format('opentype');
		font-weight: 400;
		font-style: italic;
		font-display: swap;
	  }
	  @font-face {
		font-family: 'UniviaProRegular';
		src: url('UniviaProRegular.otf') format('opentype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	  }
	  @font-face {
		font-family: 'UniviaProBook';
		src: url('UniviaProBook.otf') format('opentype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	  }

	  @font-face {
		font-family: 'UniviaProUltra-Italic';
		src: url('UniviaProUltra-Italic.otf') format('opentype');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	  }


/* ##########################CSS TIMER COUNTDOWN######################	*/

.timer{
	position: relative;
  }

  .time {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
  }

  .time{
	font-size: 30px;
	color: #fff;
 
	font-weight: bold;
  }

  svg{
	display: inline-block;
	vertical-align: middle;
  }
  circle{
	stroke-width: 10px;
	fill: transparent;
	stroke-linecap: butt;
  }

  #circle1{
	stroke: #ffffff;
  }

  #circle2{
	stroke:rgba(0,0,0, .01);
	transition: 1s linear;
  }